<div >
  <div class="row">
    <div class="col-md-6 col-md-offset-3 font-conten">
      <div class="row">
        <h1 class="font-title">Editar <%= resource_name.to_s.humanize %></h1>

      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= label_tag(:email, "Correo electrónico" )%><br />
          <%= f.email_field :email, autofocus: true, placeholder: "Correo electrónico", class: "form-control" %>
        </div>


        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= label_tag(:password, "Contraseña") %> <i>(Dejar en blanco si no desea cambiar la contraseña)</i><br />
          <%= f.password_field :password, autocomplete: "off", placeholder:"Contraseña", class:"form-control" %>
          <% if @minimum_password_length %>

            <em><%= @minimum_password_length %> caracteres mínimo</em>
          <% end %>
        </div>

        <div class="field">
          <%= label_tag(:password_confirmation, "Confirmar contraseña") %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Confirmar contraseña", class:"form-control" %>
        </div>

        <div class="field">
          <%= label_tag(:current_password, "Contraseña actual") %> <i>(Se necesita la contraseña actual para confirmar cambios)</i><br />
          <%= f.password_field :current_password, autocomplete: "off", placeholder:"Confirmar contraseña", class:"form-control" %>
        </div>

        <div class="actions field center font-button">
          <%= f.submit "Actualizar", class: "btn let be-black" %>
        </div>
      <% end %>
      <div class="field">
        <p>-----------------------------------------</p><br>
      </div>
        <div class="row">
          <h1 class="font-title">Cancelar cuenta </h1>
        </div>
      <div class="field center">
        <p>Infeliz? <%= button_to "Cancelar", registration_path(resource_name), data: { confirm: "Estas seguro?" }, method: :delete, class:" btn let be-black font-button" %></p>
        <%= link_to "Volver", :back %>
      </div>
    </div>
  </div>
</div>
