<div >
  <div class="row">
    <div class="col-md-6 col-md-offset-3 font-conten">
      <div class="row">
        <h1 class="font-conten">Registrarse</h1>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= label_tag(:email, "Correo electrónico" )%><br />
          <%= f.email_field :email, autofocus: true, placeholder: "Correo electrónico", class: "form-control" %>
        </div>

        <div class="field">
          <%= label_tag(:password, "Contraseña") %>
          <% if @minimum_password_length %>
          <em class="font">(<%= @minimum_password_length %> caracteres mínimo)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off", placeholder:"Contraseña", class:"form-control" %>
        </div>

        <div class="field">
          <%= label_tag(:password_confirmation, "Confirmar contraseña") %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Confirmar contraseña", class:"form-control" %>
        </div>

        <div class="actions field center font">
          <%= f.submit "Registrar", class: "btn let be-black" %>
        </div>
      <% end %>
      <!-- <div class="field font-conten"> -->
        <!-- %= render "devise/shared/links" % -->
      <!-- </div> -->


    </div>
  </div>
</div>
