<div class="row">
  <div class="col-md-6 col-md-offset-3 font-conten">
    <div class="row">
      <h1 class="font-title">Reenviar instrucciones de desbloqueo</h1>
    </div>
    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= label_tag(:email, "Correo electrónico") %><br />
        <%= f.email_field :email, autofocus: true, placeholder: "Correo electrónico", class: "form-control" %>
      </div>
      <div class="actions field center font-button">
        <%= f.submit "Reenviar", class: "btn let be-black" %>
      </div>
    <% end %>
    <div class="field font-button">
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
