<div class="row">
  <div class="col-md-6 col-md-offset-3 font-conten">
    <div class="row">
      <h1 class="font-title">Cambiar tu contraseña</h1>
    </div>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= label_tag(:password, "Nueva contraseña") %>
        <% if @minimum_password_length %>
        <em class="font">(<%= @minimum_password_length %> caracteres mínimo)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", placeholder:"Contraseña", class:"form-control" %>
      </div>

      <div class="field">
        <%= label_tag(:password_confirmation, "Confirmar contraseña") %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Confirmar contraseña", class:"form-control" %>
      </div>


      <div class="actions field center font-button">
        <%= f.submit "Cambiar contraseña", class: "btn let be-black" %>
      </div>
    <% end %>
    <div class="field font-button">
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
