<%= form_for @photo do |f|%>
  <% @photo.errors.full_messages.each do |message| %>
    <div>
      <%= message %>
    </div>
  <% end %>
  <div class="field">
    <%= label_tag(:title, "Título de la publicación") %><br />
    <%=f.text_field :title, placeholder: "Título", class:"form-control"%>
  </div>
  <div class="field">
    <%= label_tag(:body, "Contenido") %><br />
    <%= f.text_area :body, placeholder: "Contenido de la publicación", style:"height:250px;", class:"form-control"%>
  </div>
  <div class="actions field center font-button">
    <%= f.submit "Publicar", class: "btn let be-black" %>
  </div>
<%end%>
