<div class="field">
  <%= form_tag "home/create", method: :get, remote: true, id:"search-form", class:"center font-content" do%>
    <%= text_field_tag :keyword, nil, placeholder: "Buscar por..."  %>
    <%= content_tag :button, type: :submit, class:"btn be-black white font-button" do%>
    Buscar
    <%end%>
  <%end%>
</div>


<div class="col-md-6 col-md-offset-3 font-conten">
  <div class="row">
    <h1 class="font-title"> <strong>Publicaciones</strong></h1>
  </div>
  <div class="row">
  <div class="field">
    <div id="respuesta">
    </div>
  </div>
  <p>-----------------------------------------</p><br>
  </div>

  <div class="row">
    <% if user_signed_in? %>
    <h1 class="font-conten"> Bienvenido <%= current_user.email %></h1>
    <% end %>
      <p>-----------------------------------------</p><br>
  </div>
  <div class="container">
    <% @photos.each do |photo|%>
    <div class="field">
      <h1 class="font-conten"><strong> <%= link_to photo.title, photo %> </strong> </h1>
    </div>
    <div class="field font-conten", style="text-align: left;">
      <%= photo.body%>
    </div>
    <div class="field font-conten", style="text-align: left;">
      <strong>Estado:</strong>
      <%= photo.status.humanize%>
    </div>
    <div id="ellink", class="filed font-button center">
      <%= link_to "Eliminar", photo, class:"btn be-black", method: :delete %>
    </div>
    <%end%>

  </div>


</div>
