<div class="col-md-8 col-md-offset-2 font-conten">
  <div class="row center">
    <h1 class="font-title"> <strong><%= @photo.title %></strong></h1>
  </div>
  <% if @photo.cover? %>
    <div class=" gallery field font-conten", style="text-align: left;">
      <%= image_tag @photo.cover.url() %>
    </div>
  <% else %>
    <div class=" gallery field font-conten", style="text-align: left;">
      <%= image_tag "imgdefault.jpg" %>
    </div>
  <% end %>
  <div class="container">
    <div class="field font-conten", style="text-align: left;">
      <% unless @photo.user.nil? %>
        <strong>Creado por:</strong> <%= @photo.user.email%>
      <%end%>
    </div>
    <div class="field font-conten", style="text-align: left;">
      <strong>Visitas:</strong>
      <%= @photo.visit_count%>
    </div>
    <div class="field font-conten", style="text-align: left;">
      <strong>Estado:</strong>
      <%= @photo.status.humanize%>
    </div>
    <div class="field font-conten", style="text-align: left;">
      <%= @photo.body%>
    </div>
    <div class="field2">
      <div id="ellink", class="filed font-button center">
        <%= link_to "Editar", edit_photo_path(@photo), class:"btn be-black" %>
      </div>
    </div>


  </div>

</div>
